/* TRANSFORMATIONS */


/* BASE STYLES
------------------------------------- */

body {
    margin: 0;
    padding: 0.5em;
    background: radial-gradient(rgb(197, 47, 47), rgb(140, 143, 245));
    color: black;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}



/* NAVIGATION
------------------------------------- */
nav {
    font-family: 'Rampart One', cursive;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    color:rgb(204, 234, 248);

}

nav a {
    font-family: 'Rampart One', cursive;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    color:rgb(204, 234, 248);

}

nav a:hover {
    opacity: 0.5;
    color:blue;

      }




/* HOME PAGE
------------------------------------- */
main {
    background-image: url(images/pexels-jeffrey-czum-2904142.jpg);
    background-size: auto;
    background-position: center;
    mix-blend-mode:hard-light;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 130px;
    font-weight: 700;
    text-align: center;
    color:rgb(36, 14, 67);
    line-height: 125px;
    padding-top: 0.25em;
    text-decoration: underline;
}

h2 {
    font-family: 'Rampart One', cursive;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    color:rgb(30, 12, 83);
    line-height: 10px;
}

h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color:rgb(30, 12, 83);   

}

p {
    font-family: 'Gill Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;

}

a:link {
    color: rgb(204, 234, 208);
  }
  
  a:visited {
    color: rgb(204, 234, 208);
  }
  
  a:hover {
    color: rgb(0, 255, 238);
  }

.responsive {
    width: 100%;
    height: auto;
    opacity: 0.75;
    transform: rotate(10deg) skewX(20deg)
  }

.responsive2 {
    width: 100%;
    height: auto;
    opacity: 0.5;
    transform: rotate(-10deg) skewX(-20deg);
    padding-bottom: 5em;
  }

  .fixed {
    position: fixed;
    top: 150px;
    margin: 5% auto;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.75;
    mix-blend-mode:screen;
  }

.maingallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.75em;
    max-width: 50em;
    margin: 5em auto;

}

.maingallery-item {
    padding: 0.5em;
    display: grid;
    align-items: center;
    max-height: 70px;
}


.descr1 {
    background: rgb(243, 188, 188); 
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    overflow: scroll;
}

.descr2 {
    background: rgb(243, 168, 168); 
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    overflow: scroll;
}

.descr3 {
    background: rgb(240, 137, 137); 
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    overflow: scroll;
}

/* GALLERY PAGE
------------------------------------- */
.gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.75em;
    max-width: 40em;
    margin: 5em auto;
}

.gallery-item {
    padding: 0.5em;
    border: 2px dashed rgb(255, 253, 253);
    display: grid;
    align-items: end;
    /*
    background: white;
    */
}

.TM:hover { 
    opacity: 0.5;
    filter: blur(5px);
    transform: rotate(-5deg) scale(.75);

}

.WILTY:hover {
    opacity: 0.5;
    filter: blur(5px);
    transform: rotate(5deg) scale(.75);
}

.BFQY:hover {
    opacity: 0.5;
    filter: blur(5px);
    transform: rotate(-5deg) scale(.75);
}

.QI:hover {
    opacity: 0.5;
    filter: blur(5px);
    transform: rotate(5deg) scale(.75);
}

.NMTB:hover {
    opacity: 0.5;
    filter: blur(5px);
    transform: rotate(-5deg) scale(.75);
}

.HYP:hover {
    opacity: 0.5;
    filter: blur(5px);
    transform: rotate(5deg) scale(.75);
}

.CTDWN:hover {
    opacity: 0.5;
    filter: blur(5px);
    transform: rotate(-5deg) scale(.75);
}

.TMwords {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    align-items:center;
}

.WILTYwords {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    align-items:center;  
}

.BFQYwords {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    align-items:center;  
}

.QIwords {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    align-items:center;  
}

.NMTBwords {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    align-items:center;  
}

.HYPwords {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    align-items:center;  
}

.EIGHTwords {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    align-items:center;  
}

